//This is a demo CSS file.

body {
  width: 100%;
  height: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin-top: -26%;
  margin-left: -45%;
  background: #ebf8f2;
  background: -webkit-linear-gradient(#ebf8f2, #f2dde3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ebf8f2, #f2dde3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ebf8f2, #f2dde3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ebf8f2, #f2dde3);
}

h1 {
  color: #999999;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60pt;
  font-weight: bold;
  text-align: center;
  margin-top: 25%;
}
